<div style="position: absolute; top: 40%; left: 25%" class="bg-light mx-auto m-3 col-6 border border-3 rounded p-5">
    <input type="button" value="X" class="text-danger fw-bold btn btn-light border border-0 position-absolute top-0 end-0">
    
    <form>

        <div class="my-2">
            <label class="col-2">Name</label>
            <input class="col-4 rounded" type="text" #name>
        </div>
    
        <div class="my-2">
            <label class="col-2">Age</label>
            <input class="col-4 rounded" type="text" #age>
        </div>
    
        <div class="my-2">
            <label class="col-2">City</label>
            <input class="col-4 rounded" type="text" #city>
        </div>
    
        <!-- <input class="btn btn-success" type="button" value="Submit"
            (click)="addStd($event, name.value, age.value, city.value)" routerLink="/"> -->
    
    </form>
</div>