<nav class="row navbar navbar-expand-lg bg-secondary sticky-top">
    <div class="container-fluid px-lg-5 px-4">
        <button class="col text-white d-lg-none fs-1 bg-dark border-0 text-white" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list"></i>
        </button>
        <div class="row collapse navbar-collapse" id="navbarText">
            <ul class="fw-bold navbar-nav me-auto mb-2 mb-lg-0">
                <li class="col nav-item">
                    <a class="nav-link activ" aria-current="page" routerLink="/" routerLinkActive="btn-primary"
                        [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li class="col nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="btn-primary"
                        [routerLinkActiveOptions]="{exact:true}">All Users</a>
                </li>

                <li class=" col nav-item">
                    <a class="nav-link" href="#">Archives</a>
                </li>

                <li class="col nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

                <li class="col nav-item link-light">

                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </div>

</nav>